#canvas {
    background: #7392B7;
    border: 2px solid #759EB8;
    width: 90%;
}

body {
    background: #D8E1E9;
}

.container {
    display: block;
    margin: auto;
    margin-top: 10px;
}

.sidebar {
    padding-left: 60px;
}

.btn {
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 12px 12px;
    font-size: 32px;
    cursor: pointer;
    aspect-ratio: 1;
    height: 60px;
}

.btn:hover {
    background-color: royalblue;
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_top */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}